<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand mb-0 h1">Jamboree Events!</span>
        </div>
        <div class="nav navbar-nav navbar-right" *ngIf="isLoggedIn()">
            <a href="#" class="" (click)="logoff()">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
            </a>
        </div>
    </div>
</nav>
<div class="container" style="margin-top: 20px"> 
    <router-outlet></router-outlet>  
</div>